coverage.out
tmp
bin
node_modules
Pipfile
state.log
seltabl.log
**/state.log
**/seltabl.log
**/*.sqlite
**/**/state.log
**/**/seltabl.log
**/**/**/*.sqlite
**/**/**/state.log
**/**/**/seltabl.log
**/**/**/**/*.sqlite
**/**/**/**/state.log
**/**/**/**/seltabl.log
**/**/**/**/**/*.sqlite
**/**/**/**/**/state.log
**/**/**/**/**/seltabl.log
**/**/**/**/**/**/*.sqlite
seltabl-lsp
tools
.vscode
.vscode-test
