{{- define "error" -}}
Oops, something went wrong parsing your json response.

{{ .Error }}

{{- end -}}

{{- define "aggregate_json" -}}
Please provide a single JSON object that aggregates the following multiple JSON structures:

{{- range .Structs }}
- {{ . }}
{{- end }}

The aggregated JSON object should combine all the fields from the above structures. If there are any conflicting fields, please ensure they are merged appropriately.

Example:

Input JSON structures:
{{- range .Structs }}
{{ . }}
{{- end }}

Output aggregated JSON object:
{
  // Your aggregated JSON structure here
}

{{- end -}}
