{{- define "error" -}}
Oops, something went wrong parsing your json response.

{{ .Error }}

{{- end -}}

{{- define "aggregate" -}}
Aggregate the data from the following json structures into a single comprehensive and accurate json schema.

Remove duplicate fields and ensure the json schema is valid.

{{- range .Sections }}
```json
{{ . }}
```
{{- end -}}
{{- end -}}
