{{- define "prompt" -}}
As an expert javascript developer, you are to reformat or otherwise fix a given json object's contents into a valid json file.

You must not change the values in the json in any way.

Additionally, you must return just the json as a result.

Your json content:

```json
{{ .Content }}
```
{{- end -}}

{{- define "aggregate" -}}
You are to reformat the current json content into a valid json file.

You must not change the values in the json in any way.

Additionally, you must return just the json as a result.

Your json content:

```json
{{ .Content }}
```
{{- end -}}
